<div class="cm-full-body">
    <div class="cm-container">
      <div class="cm-columns">
        <div class="cm-col1">
  
        </div>
        <div class="cm-col2">
          <div class="cm-col-container">
            <ng-container *ngFor="let row of rows">
              <div class="cm-row">
                <ng-container *ngFor="let col of cols">
                  <span class="cm-seat">
  
                  </span>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  